{% extends 'core/base.html' %} {% block content %}
<title>Skills</title>

<div class="container mt-5">
  <h3 class="text-info mb-3 border-bottom">Skills</h3>
  <div class="row text-black">
    <div class="col-sm-5">
      <h5 class="mb-3">Python Programming Language</h5>

      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Intermediate
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h5 class="mb-3">Java Programming Language</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info progress-bar-animated"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Basics
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h5 class="mb-3">C, C++</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Basics
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h5 class="mb-3">Javascript</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info progress-bar-animated"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Advanced
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h5 class="mb-3">Data Structures And Algorithms</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Working On It
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h5 class="mb-3">HTML/CSS</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info progress-bar-animated"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h5 class="mb-3">Django</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Learning
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h5 class="mb-3">React Js</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info progress-bar-animated"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Learning
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h5 class="mb-3">MySQL</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Learning
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h5 class="mb-3">Competitive Coding</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 70%"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Practicing
        </div>
      </div>
    </div>
  </div>
  <hr />
  <center style="padding-right: 50px">
    <h4 style="color: Cyan" ;>Projects</h4>
    <a href="https://github.com/Merciful123?tab=repositories" target="_blank"
      ><i class="fab fa-github fa-3x i-color mb-5"></i
    ></a>
  </center>
</div>

{% endblock content %}
